.DS_Store
.gradle
/.idea
/Android.iml
/app/app-release.apk
/app/app.iml
/app/fabric.properties
/app/manifest-merger-release-report.txt
/app/src/main/assets/crashlytics-build.properties
/app/src/main/res/values/apis.xml
/app/src/main/res/values/com_crashlytics_export_strings.xml
/app/src/main/res/values/mixpanel_strings.xml
/build
/captures
/Krautreporter.iml
/local.properties
