.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/crashlytics.properties
/app/src/main/res/values/apis.xml
/app/app-release.apk
/app/manifest-merger-release-report.txt
/app/src/main/res/values/com_crashlytics_export_strings.xml
/app/src/main/assets/crashlytics-build.properties
/app/src/main/res/values/mixpanel_strings.xml
