.DS_Store
.gradle
/.idea/libraries
/.idea/workspace.xml
/Android.iml
/app/app-release.apk
/app/app.iml
/app/crashlytics.properties
/app/manifest-merger-release-report.txt
/app/src/main/assets/crashlytics-build.properties
/app/src/main/res/values/apis.xml
/app/src/main/res/values/com_crashlytics_export_strings.xml
/app/src/main/res/values/mixpanel_strings.xml
/build
/local.properties
/captures
